header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: rgb(133, 192, 211);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

main {
    padding: 40px;
}

section {
    margin-bottom: 60px;
}

footer {
    text-align: center;
    padding: 30px 0;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
} /* center content (add margin) */

#about {
    display: flex;
    gap: 40px;
}
.my-logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.featured-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#featured {
    display: flex;
    justify-content: center;
}

#skills,
#autobiography {
    flex: 1;
} /* add flex to about me section */